;;;; File: oplan-planner-exec-small.config
;;; Contains: Combined planner/exec/world config using a 5x8 font.
;;; Author: Jeff Dalton
;;; Created: 13 February 1995
;;; Updated: Sat Feb 12 02:35:51 2000 by Jeff Dalton
;;; Copyright: (c) 1992, 1993, AIAI, University of Edinburgh
;;;

;;; Configuration for the Task Assignment (ta) process.
:CONFIG :ta
	:WINDOW :tainout "O-Plan Task Assignment" 2 72 36 19
           "-xrm \"*iconGeometry: +0+0\" -n \"O-Plan\" -fn 5x8"
:END

;;; Configuration for the run-lights window.
:CONFIG :run-lights
	:WINDOW-ARGS :run-lights
	   ("-title" "O-Plan Running Processes"
            "-n" "Running Processes" 
	    "-fn" "fixed"
	    ;; Place just below the TA window.  To place the title
	    ;; bar under the TA window, use +288.
            "-geometry" "30x1+2+253")
:END

;;; Configuration for the Control Panel (xuim) process.
:CONFIG :cp
        :WINDOW-ARGS :xuim
           ("-title" "O-Plan Control Panel (CP)" "-name" "O-Plan CP"
            "-geometry" "325x100+210+16" "-fn" "5x8")
:END

;;; Configuration for the Interface Manager (im) process.
:CONFIG :im
	:WINDOW :imout "Interface Manager (IM)" 190 8 42 16
           "-xrm \"*iconGeometry: +2+2\" -n \"O-Plan IM\" -fn 5x8"
:END

;;; Configuration for the Agenda Manager (am) process.
:CONFIG :am
	:WINDOW :amout "Agenda Manager (AM)" 190 165 42 16
           "-xrm \"*iconGeometry: +77+2\" -n \"O-Plan AM\" -fn 5x8"
:END

;;; Configuration for the Database Manager (dm) process.
:CONFIG :dm
	:WINDOW :dmout "Database Manager (DM) " 190 322 (* 2 42) 16
           "-xrm \"*iconGeometry: +157+2\" -n \"O-Plan DM\" -fn 5x8"
:END

;;; Configuration for the KS Platform (kp) process.
:CONFIG :kp
	:WINDOW :kpout "KS Platform (KP)" 408 8 (* 3 35) 55
           "-xrm \"*iconGeometry: +237+2\" -n \"O-Plan KP\" -fn 5x8"
:END


;;; Configuration for the Micro-Exec process

:CONFIG :MICRO-EXEC
        :WINDOW :execio "Micro-Exec" 190 480 (* 2 42) 16
           "-fn 5x8 -n \"Exec\""
:END


;;; Configuration for the world (world) process.

:CONFIG :WORLD
	:WINDOW :world-clock "World Clock" 595 20 18 1
	   "-fn fixed -n \"World Clock\""
	:WINDOW :world-history "World History" 595 69 80 16
	   "-fn 6x10 -n \"World History\""
	:WINDOW :world-agenda "World Agenda" 595 263 80 16
	   "-fn 6x10 -n \"World Agenda\""
	:WINDOW :world-interact "World Interaction" 595 457 80 16
           "-fn 6x10 -n \"World Interact\""
:END

;;; ---------------------------- Change History ----------------------------
;;; (Who)   (When) 		     (What)
;;;
