;;;; File: oplan-planner-default.config
;;; Contains: Basic config file for O-Plan
;;; Author: Brian Drabble and Jeff Dalton
;;; Created: Mon Jul 16 11:39:20 1992
;;; Updated: Tue Mar 23 01:47:21 1999 by Jeff Dalton
;;; Copyright: (c) 1992, AIAI, University of Edinburgh
;;;

;;; Configuration for the Task Assignment (ta) process.
:CONFIG :ta
	:WINDOW :tainout "O-Plan Task Assignment" 2 72 51 17
           "-xrm \"*iconGeometry: +0+0\" -n \"O-Plan\" -fn fixed"
:END

;;; Configuration for the run-lights window.
:CONFIG :run-lights
	:WINDOW-ARGS :run-lights
	   ("-title" "O-Plan Running Processes" 
            "-n" "O-Plan Processes" 
	    "-fn" "fixed"
	    ;; Place just below the TA window.  To place the title
	    ;; bar under the TA window, use +288.
            "-geometry" "51x1+2+321")
:END

;;; Configuration for the Interface Manager (im) process.
:CONFIG :im
	:WINDOW :imout "Interface Manager (IM)" 325 34 80 16 
           "-xrm \"*iconGeometry: +2+2\" -n \"O-Plan IM\" -fn fixed"
:END

;;; Configuration for the Agenda Manager (am) process.
:CONFIG :am
	:WINDOW :amout "Agenda Manager (AM)" 325 275 80 19 
           "-xrm \"*iconGeometry: +77+2\" -n \"O-Plan AM\" -fn fixed"
:END

;;; Configuration for the Database Manager (dm) process.
:CONFIG :dm
	:WINDOW :dmout "Database Manager (DM) " 325 557 80 24
           "-xrm \"*iconGeometry: +157+2\" -n \"O-Plan DM\" -fn fixed"
:END

;;; Configuration for the KS Platform (kp) process.
:CONFIG :kp
	:WINDOW :kpout "KS Platform (KP)" 818 34 54 64
           "-xrm \"*iconGeometry: +237+2\" -n \"O-Plan KP\" -fn fixed"
:END

;;; ---------------------------- Change History ----------------------------
;;; (Who)   (When) 		     (What)
;;;
