;;;; File: oplan-planner-small.config
;;; Contains: Basic config file for O-Plan using a 5x8 font.
;;; Author: Jeff Dalton
;;; Created: 27 February 1994
;;; Updated: Sat Feb 12 02:32:29 2000 by Jeff Dalton
;;; Copyright: (c) 1992, 1993, AIAI, University of Edinburgh
;;;

;;; This file produces small windows and small fonts.  However,
;;; the DM and KP-1 windows are "wide" so that the output tends
;;; to fit on the lines.  These windows are in fact wider than 
;;; in the "full sized" configs.

;;; Configuration for the Task Assignment (ta) process.
:CONFIG :ta
	:WINDOW :tainout "O-Plan Task Assignment" 2 72 36 19
           "-xrm \"*iconGeometry: +0+0\" -n \"O-Plan\" -fn 5x8"
:END

;;; Configuration for the run-lights window.
:CONFIG :run-lights
	:WINDOW-ARGS :run-lights
	   ("-title" "O-Plan Running Processes"
            "-n" "Running Processes" 
	    "-fn" "fixed"
	    ;; Place just below the TA window.  To place the title
	    ;; bar under the TA window, use +288.
            "-geometry" "30x1+2+253")
:END

;;; Configuration for the Control Panel (xuim) process.
:CONFIG :cp
        :WINDOW-ARGS :xuim
           ("-title" "O-Plan Control Panel (CP)" "-name" "O-Plan CP"
            "-geometry" "325x100+210+16" "-fn" "5x8")
:END

;;; Configuration for the Interface Manager (im) process.
:CONFIG :im
	:WINDOW :imout "Interface Manager (IM)" 190 8 42 16
           "-xrm \"*iconGeometry: +2+2\" -n \"O-Plan IM\" -fn 5x8"
:END

;;; Configuration for the Agenda Manager (am) process.
:CONFIG :am
	:WINDOW :amout "Agenda Manager (AM)" 190 165 42 16
           "-xrm \"*iconGeometry: +77+2\" -n \"O-Plan AM\" -fn 5x8"
:END

;;; Configuration for the Database Manager (dm) process.
:CONFIG :dm
	:WINDOW :dmout "Database Manager (DM) " 190 322 (* 2 42) 16
           "-xrm \"*iconGeometry: +157+2\" -n \"O-Plan DM\" -fn 5x8"
:END

;;; Configuration for the KS Platform (kp) process.
:CONFIG :kp
	:WINDOW :kpout "KS Platform (KP)" 408 8 (* 3 35) 55
           "-xrm \"*iconGeometry: +237+2\" -n \"O-Plan KP\" -fn 5x8"
:END

;;; ---------------------------- Change History ----------------------------
;;; (Who)   (When) 		     (What)
;;;
